@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  word-break: break-all;
}
.card-text::-webkit-scrollbar {
  display: none;
}

body {
  background: #f1f6f9;
}
